@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&family=Supermercado+One&display=swap');
@import 'tailwindcss';

@theme {
  --color-background: #121421;
  --color-primary: #1238ed;
  --color-text-primary: #E5E8EB;
  --color-text-secondary: #919CC9;
  --font-grotesk: 'Space Grotesk', sans-serif;
}

@layer components{
  .btn {
    @apply min-w-21 w-fit h-10 rounded-full bg-primary px-4 text-sm font-bold;
  }
  .sub-title {
    @apply text-2xl font-semibold
  }
  .cards {
    @apply grid grid-cols-[repeat(5,176px)] gap-3 px-8 py-4 overflow-x-auto;
  }

  .card {
    @apply flex flex-col gap-3;
  }

  .card-image {
    @apply aspect-square h-[176px] w-[176px];
  }

  .card-image img {
    @apply rounded-xl object-cover w-full h-full;
  }

  .card-content h3 {
    @apply font-normal;
  }

  .card-content p {
    @apply text-sm text-text-secondary;
  }

  .social-icon{
    @apply h-6 w-6 aspect-square;
  }
}